body{
  background-color: linear-gradient(rgb(255, 207, 234), rgba(rgba(255, 41, 126, 0.5)));
  text-align: center;
  /*background-image: url("/image/kittyhheart.png");*/
}

.fullscreen{
  min-width: 100vh;
  display:flex;
  flex-direction: column;
}

.body_full{
  position: absolute;
  left: 35%;
  top: 40%;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}